// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "components-font-awesome/scss/font-awesome.scss"; // endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,
html {
  height: 100%;
}

body {
  padding: 0;
  background: rgba(54,209,165,0.8);
  background: -moz-linear-gradient(-45deg, rgba(54,209,165,0.8) 0%, rgba(100,180,246,0.8) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,209,165,0.8)), color-stop(100%, rgba(100,180,246,0.8)));
  background: -webkit-linear-gradient(-45deg, rgba(54,209,165,0.8) 0%, rgba(100,180,246,0.8) 100%);
  background: -o-linear-gradient(-45deg, rgba(54,209,165,0.8) 0%, rgba(100,180,246,0.8) 100%);
  background: -ms-linear-gradient(-45deg, rgba(54,209,165,0.8) 0%, rgba(100,180,246,0.8) 100%);
  background: linear-gradient(135deg, rgba(54,209,165,0.8) 0%, rgba(100,180,246,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#36d1a5', endColorstr='#64b4f6', GradientType=1 );
}

.main_container {
  height: 100vh;
}

.angular-google-map-container {
  height: 90vh;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.selectdemoSelectHeader md-content._md {
  max-height: 240px;
}

.aside {
  height: 100vh;
  overflow-x: auto;

  &.full {
    position: fixed;
    top: 0;
    right: 0;
  }

  .gauges_column {
    display: inline-block;
    vertical-align: top;
    width: 180px;
  }

  .gauge_selectChauff {
    padding: 5px;
    background-color: #009688;
    color: white;

    h5 {
      margin: 0;
    }

    &.main {
      padding-top: 15px;
      background-color: #00897b;
      color: #ffffff;
    }
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    margin-bottom: 5px;

    p {
      margin: 0;
    }

    .gauge {
      width: 60%;
      display: inline-block;

      .num_box {
        margin-bottom: -10px;
      }

      p {
        display: inline-block;
        font-weight: bold;

        &:first-of-type {
          padding-right: 60px;
        }
        font-size: 9px;
      }
    }

    span {
      &.inline {
        &:first-of-type {
          margin-right: 1px;
        }
        display: inline-block;
      }
      font-size: 10px;
    }

    md-progress-linear {
      display: inline-block;
      width: 70%;
    }

    .liv {
      .md-bar2 {
        background-color: #4caf50;
      }
    }

    .ram {
      .md-bar2 {
        background-color: #ffc107;
      }
    }
  }
}

.green {
  color: #2e7d32;

  &.underline {
    font-weight: bold;
  }
}

.red {
  color: #b71c1c;

  &.underline {
    font-weight: bold;
  }
}

.blue {
  color: #3498db;

  &.underline {
    font-weight: bold;
  }
}

.purple {
  color: purple;

  &.underline {
    font-weight: bold;
  }
}

.orange {
  color: orange;

  &.underline {
    font-weight: bold;
  }
}

.none {
  display: none;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.switch_auto {
  display: block;
  margin: 0;
}

.btn_msg {
  min-height: 23px;
  min-width: 46px;
  font-size: 10px;
  line-height: 25px;
  margin: 0;
  width: 100%;
  background-color: #00695c;
  color: white;
}

.block_positions {
  vertical-align: middle;

  .md-icon {
    transform: scale(0.8);
  }
}

md-checkbox .md-container:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.md-icon-button {
  &.main {
    height: 50px;
    width: 50px;

    md-icon {
      height: 34px;
      width: 34px;
    }
  }
}

.margbot {
  margin-bottom: 0;
}

.loading,
md-progress-circular {
  display: inline-block;
  vertical-align: middle;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

.labels {
  background: white;
  padding: 3px;
  opacity: 0.8;
  box-shadow: 2px 2px 2px #656565;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: black;
  animation: pulse 0.5s ease-out;
}

.btn_fullscreen {
  background: white;
  padding: 3px 5px 5px;
  border-radius: 5px;
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

md-switch {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.vAccordion--default {
  h5 {
    color: #424242;
  }
}

.legendebg {
  text-decoration: none;
  background-color: white;
  padding: 5px 35px;
  -moz-box-shadow: 5px 5px 5px 0 #656565;
  -webkit-box-shadow: 5px 5px 5px 0 #656565;
  -o-box-shadow: 5px 5px 5px 0 #656565;
  box-shadow: 5px 5px 5px 0 #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.legende {
  cursor: pointer;
  transition: all linear 1s;

  ul {
    opacity: 1;
    height: 300px;
    width: 300px;

    &.visible {
      width: 50px;
      height: 0;
      opacity: 0;
    }
    transition: all ease 1s;

    li {
      list-style: none;
      font-size: 14px;
      width: 250px;

      img {
        padding-right: 8px;
      }
    }
  }
}
//IE FIX
@media screen and (min-width:0\0) {
  md-select .md-select-icon {
    float: right;
  }
}
