<div class="">
  <section class="col-lg-10 col-md-10" cg-busy='loading'>
    <div>
      <md-menu>
        <md-button aria-label="Open menu" class="md-icon-button main" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-svg-icon="images/ico_dark.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <p>
              DMSCARTO© v1.0.0
            </p>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-disabled="true">
              <md-icon md-svg-icon="images/ICO/idea.svg" md-menu-align-target></md-icon>
              Une suggestion ? (soon)
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-disabled="true">
              <md-icon md-svg-icon="images/ICO/bug.svg" md-menu-align-target></md-icon>
              Signaler un bug (soon)
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-input-container>
        <label>Chauffeurs</label>
        <md-select ng-model="selectedChauffeur" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm" type="search" placeholder="Chercher un chauffeur" class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="Chauffeurs">
            <md-option ng-value="chauffeur" ng-repeat="chauffeur in chauffeurs |
          filter:searchTerm">{{chauffeur.SALNOM}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <div class="block_positions inline-block">
        <div class="block_top">
          <md-checkbox class="margbot md-primary" ng-model="cb1" aria-label="Checkbox 1" ng-change="getPositionsLivraisons(selectedChauffeur,cb1,date)" ng-disabled="selectedChauffeur == null">
            Livraisons
          </md-checkbox>
        </div>
        <div class="block_bottom">
          <md-checkbox class="margbot md-primary" ng-model="cb4" aria-label="Checkbox 4" ng-change="getPositionsRamasses(selectedChauffeur,cb4,date)" ng-disabled="selectedChauffeur == null">
            Ramasses
          </md-checkbox>
        </div>
      </div>
      <div class="block_positions inline-block">
        <div class="block_top">
          <md-checkbox class="margbot md-primary" ng-model="cb2" aria-label="Checkbox 2" ng-change="getTrajetLivraison(selectedChauffeur,cb2,date)" ng-disabled="selectedChauffeur == null">
            Trajet
          </md-checkbox>
        </div>
        <div class="block_bottom">
          <md-checkbox class="margbot md-primary" ng-model="cb3" aria-label="Checkbox 3" ng-change="getLastPosOther(selectedChauffeur,cb3)">
            Chauffeurs
          </md-checkbox>
        </div>
      </div>
      <md-datepicker ng-model="date" md-placeholder="Enter date" ng-disabled="selectedChauffeur == null" ng-change="dateChange()"></md-datepicker>
      <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeur == null" aria-label="recadre" ng-click="recadre()">
        <md-icon md-svg-icon="images/ICO/ico_fullscreen.svg"></md-icon>
        <md-tooltip md-direction="bottom">
          Recentrer la carte
        </md-tooltip>
      </md-button>
      <md-button class="md-icon-button md-raised" ng-disabled="selectedChauffeur == null" aria-label="refresh" ng-click="refresh()">
        <md-icon md-svg-icon="images/ICO/ico_refresh.svg"></md-icon>
        <md-tooltip md-direction="bottom">
          Recharger la carte
        </md-tooltip>
      </md-button>
      <div class="inline-block">
        <md-switch class="switch_auto" ng-model="sw1" aria-label="Switch 1" ng-change="reloadAuto(selectedChauffeur,cb1,cb2,cb3,sw1,date)">
          Rafraîchissement auto
        </md-switch>
        <md-button ng-disabled="selectedChauffeur == null" class="btn_msg">Message
          <md-tooltip md-direction="bottom">
            Envoyer un message
          </md-tooltip>
        </md-button>
      </div>
      <md-progress-circular md-mode="indeterminate" ng-hide="!loadingPrdict"></md-progress-circular>
    </div>
    <div class="div-wrapper">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' bounds='bounds' pan='true' refresh="true" ng-show="!displayed" fit="true">
        <ui-gmap-map-control position="top-right">
          <div class="legendebg" ng-controller="LegendCtrl">
            <a class="legende" ng-click="toggle()">
              <h5>Légende</h5>
              <ul class="visible">
                <li><img src="images/ico/ico_truck.svg" alt="" width="40px"/>Position du chauffeur</li>
                <li><img src="images/ico/ico_liv_v.svg" alt="" width="40px"/>Livraisons conforme</li>
                <li><img src="images/ico/ico_ram_v.svg" alt="" width="40px"/>Ramasse conforme</li>
                <li><img src="images/ico/ico_liv_a.svg" alt="" width="40px"/>Livraison non-conforme</li>
                <li><img src="images/ico/ico_ram_a.svg" alt="" width="40px"/>Ramasse non-conforme</li>
                <li><img src="images/ico/ico_liv_v_m.svg" alt="" width="40px"/>Regroupement de position</li>
              </ul>
            </a>
          </div>
        </ui-gmap-map-control>
        <ui-gmap-marker coords="map.markerHome.coords" options="map.markerHome.options" idkey="10"></ui-gmap-marker>
        <ui-gmap-marker idkey="11" coords="map.lastPos.coords" options="map.lastPos.options"></ui-gmap-marker>
        <ui-gmap-markers
          models="otherLastPos"
          events="clickEventsObject"
          typeEvents="clusterEventsObject"
          coords="'coords'"
          icon="'options.icon'"
          options="'options'"
          control="map.markersControl"
          type="cluster"
          doCluster="true"
          clusterOptions="clusterChauffeurOptions"></ui-gmap-markers>
        <ui-gmap-markers models="markers" coords="'coords'" options="'options'" icon="'options.icon'" type="cluster" doCluster="true" clusterOptions="clusterOptions" click="markersClick(idClick)"></ui-gmap-markers>
        <ui-gmap-markers models="markersRam" coords="'coords'" options="'options'" icon="'options.icon'" type="cluster" doCluster="true" clusterOptions="clusterOptions" click="markersClick(idClick)"></ui-gmap-markers>
        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
      </ui-gmap-google-map>
    </div>
  </section>
  <section class="col-lg-2 col-md-2 aside">
    <div class="gauge_selectChauff main" ng-hide="infoTournee == null">
      <p>{{selectedChauffeur.SALCODE}}</p>
      <div ng-hide="infoTournee.livTot == 0">
        <span class="inline">Livraisons</span>
        <div class="gauge">
          <div class="num_box">
            <p>
              {{infoTournee.liv}}
            </p>
            <p>
              {{infoTournee.livTot}}
            </p>
          </div>
          <md-progress-linear class="liv" md-mode="determinate" value="{{infoTournee.livPercent}}"></md-progress-linear>
        </div>
      </div>
      <div ng-hide="infoTournee.ramTot == 0">
        <span class="inline">Ramasses</span>
        <div class="gauge">
          <div class="num_box">
            <p>
              {{infoTournee.ram}}
            </p>
            <p>
              {{infoTournee.ramTot}}
            </p>
          </div>
          <md-progress-linear class="liv" md-mode="determinate" value="{{infoTournee.ramPercent}}"></md-progress-linear>
        </div>
      </div>
    </div>
    <div class="gauge_selectChauff" ng-repeat="box in boxesGauge">
      <p>{{box.chauff}}</p>
      <div ng-hide="box.gauges.livTot == 0">
        <span class="inline">Livraisons</span>
        <div class="gauge">
          <div class="num_box">
            <p>
              {{box.gauges.liv}}
            </p>
            <p>
              {{box.gauges.livTot}}
            </p>
          </div>
          <md-progress-linear class="liv" md-mode="determinate" value="{{box.gauges.livPercent}}"></md-progress-linear>
        </div>
      </div>
      <div ng-hide="box.gauges.ramTot == 0">
        <span class="inline">Ramasses</span>
        <div class="gauge">
          <div class="num_box">
            <p>
              {{box.gauges.ram}}
            </p>
            <p>
              {{box.gauges.ramTot}}
            </p>
          </div>
          <md-progress-linear class="liv" md-mode="determinate" value="{{box.gauges.ramPercent}}"></md-progress-linear>
        </div>
      </div>
    </div>
    <v-accordion class="vAccordion--default" id="my-accordion" control="accordion">
      <v-pane ng-repeat="box in boxesRight | orderBy : 'title'" expanded="pane.isExpanded" id="{{ ::box.title }}" aria-controls="{{ box.title }}" ng-click="boxClick(box.title)">
        <v-pane-header>
          <h5 ng-bind-html="box.title"></h5>
        </v-pane-header>
        <v-pane-content>
          <div>
            <p ng-repeat="pos in box.positions" ng-class="pos.design.color" ng-bind-html="(pos.data)+('<br>')+(pos.design.ico)+(pos.info.codeano)+(' ')+(pos.info.memo)+('<br>')+(pos.info.nomclient)+(' ')+(pos.numpos)"></p>
          </div>
        </v-pane-content>
      </v-pane>
    </v-accordion>
  </section>
</div>
